@use "sass:math";
////////////////////
// フォント設定
////////////////////

$base-font-family: "Noto Sans JP", sans-serif;
// ※検証ツールでしっかり反映されているか確認する
$elegant-fonts: "Noto Serif JP", serif;
$eng-fonts: "Gotu", sans-serif;
$lato-font: "Lato", sans-serif;

