@use "../global/" as *;

$drawer-width: 40px;
$drawer-height: 2px;
$drawer-color: $white;
$drawer-width-md: 40px;

.hamberger {
  transition: 0.5s ease;
  width: 100%;
  height: inherit;
}

.header__menu-btn.hamberger {
  display: block;

}

.hamberger .menu__button {
  position: absolute;
  right: 0.65rem;
  display: block;
  z-index: 1001;
  // margin: 0.75rem auto 0;
  height: $drawer-height;
  width: $drawer-width;
  background-color: $white;
  border-radius: 999px;
  transform: scaleY(0.5);
  transition: ease-in-out 0.5s;
  @include mq("md") {
    right: 1.125rem;
  }
}
.menu__button:first-child{
  top: 0.375rem;
}

.hamberger .menu__button:nth-child(2) {
  // top: 12px;
  top: 1.125rem;
}

.hamberger .menu__button:nth-child(3) {
  top: 1.875rem;
}
.header__menu-btn.active span:nth-of-type(1){
  -webkit-transform: translateY(10px) rotate(38deg) scaleY(.4);
  transform: translateY(10px) rotate(38deg) scaleY(.4);
  top: 0.5rem;
  @include mq("md") {
  -webkit-transform: translateY(10px) rotate(38deg) scaleY(.7);
  transform: translateY(10px) rotate(38deg) scaleY(.7);
    top: 0;
  }

}
.header__menu-btn.active span:nth-of-type(2){
  opacity: 0;
}
.header__menu-btn.active span:nth-of-type(3){
  -webkit-transform: translateY(-10px) rotate(-38deg) scaleY(.4);
  transform: translateY(-10px) rotate(-38deg) scaleY(.4);
  top: 28px;
  @include mq("md") {
  -webkit-transform: translateY(-10px) rotate(-40deg) scaleY(.7);
  transform: translateY(-10px) rotate(-40deg) scaleY(.7);
  top: 20px;
  }
}

