@use "../global/" as *;

.header {
  width: 100%;

  transition: background-color 0.3s ease;

  opacity: 0;
  visibility: hidden;
  transform: translateY(20px);
  transition: 2.8s ease;
}

body.is-loaded .header{
  height: 5rem;
  position: fixed;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  top: -1.25rem;
  left: 0;
  right: 0;
  z-index: 9999;
  padding: 1.3125rem 0.9375rem;
  background-color: rgba($skelton, 0.68);
  visibility: visible;
  opacity: 1;
   @include mq("lg") {
    height: 5.625em;
    transform: translateY(0);
    padding: 0.5rem 2.5rem;
    top: 0;
    justify-content: flex-start;
  }
}
.header:has(.js-drawer.active) {
  background-color: $green;
}
.header__skelto {
  display: block;
  height: 5rem;
  @include mq("lg") {
    padding-top: 0.75rem;
  }
}
.header__link{
  display: block;
  width: 6.375rem;
  @include mq("lg") {
    width: 8.3125rem;
  }
}
.header__nav {
  display: none;
  @include mq("md") {
    padding: 0;
  }
  @include mq("lg") {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: inherit;
    max-width: 100%;
    // min-width: 707px;
    padding-top: 1rem;
    margin-left: auto;
  }
  @include mq("xl") {
    margin-left: 28.5%;
  }
}
.header__btns {
  position: fixed;
  display: flex;
  right: 0.9375rem;
  align-items: center;
  justify-content: center;
  width: 3.5rem;
  height: 3rem;
  padding: 0.4375rem 0;
  z-index: 9999;
  @include mq("md") {
    display: none;
  }
}

.header__menu-button {
  position: sticky;
  display: block;
  width: 2rem;
  height: inherit;
  padding: 0.5rem;
  cursor: pointer;
  right: 0;
  @include mq("lxg") {
    display: none;
  }
}

.header__navigation{
  display: none;
  @include mq("lg"){
      display: block;
      height: 5rem;
      white-space: nowrap;
      padding: 0;
      // margin-left: 1.25rem;
  }
}
.header__navigation:first-child{
    @include mq("lg"){
        margin-left: 1.25rem;
    }
}
.header__navigation.header__navigation-link2{
  @include mq("lg") {
    margin-left: clamp(2.5rem, 2vw, 3rem);
  }
}
.header__navigation.header__navigation-link3{
  @include mq("lg") {
    margin-left: clamp(2.75rem, 2vw, 3rem);
  }
}
.header__navigation.header__navigation-link4{
  @include mq("lg") {
    margin-left: clamp(3.5rem, 2vw, 3.75rem);
  }
}
.header__navigation.header__navigation-link5{
  @include mq("lg") {
    margin-left: clamp(2.5rem, 2vw, 3rem);
  }
}
.header__navigation-link {
  display: none;
  @include mq("lg"){
    text-decoration: none;
    max-width: 5.5rem;
    display: flex;
    flex-direction: column;
    padding: 0 0;
  }
}


.navigation__eng{
  display: none;
  @include mq("md") {
    color: $white;
    display: inline-block;
    text-align: center;
    font-family: $eng-fonts;
    text-transform: capitalize;
    font-size: 1.125rem;
    font-weight: $regular;
  }
}
.navigation__japan{
  display: none;
  @include mq("md") {
    color: $white;
    display: block;
    font-family: $base-font-family;
    font-size: 0.625rem;
    line-height: 1;
    text-align: center;
    padding: 0.25em 0 0;
  }
}
.navigation__japan.navigation__japan--info{
  display: none;
  @include mq("md") {
    color: $white;
    display: block;
    font-family: $base-font-family;
    font-size: 0.625rem;
    line-height: 1;
    text-align: right;
  }
}
.navigation__txt{
  display: none;
  @include mq("md") {
    color: $white;
    display: inline-block;
    font-family: $eng-fonts;
    font-weight: $regular;
  }
}
