@use "../global/" as *;

.information{
    width: 100%;
    margin-top: 1.265rem;
    @include mq("lg") {
        margin-top: 5.65rem;
      
    }
}
.information__inner{
    padding: 5rem 0.9375rem;
    background-color: $light-green;
    @include mq("md") {
        padding: 5.25rem 2.5rem;
    }
    @include mq("lg") {
          padding: 4.25rem 5.5rem 6.125rem;
    }
}
.information__container{
    padding: 0;
    @include mq("lg") {
    padding: 0 5rem;
    }
}
.information__titles{
    width: 17.5625rem;
    margin: 0 auto;
    border: 1px solid $green;
    padding: 0 0 0.25rem 0;
    @include mq("lg") {
        border: none;
        width: 100%;
        padding: 0 0.5rem;
    }
}
.information__subtitle{
    font-family: $base-font-family;
    color: $green;
    font-size: 0.75rem;
    line-height: 1.5;
    text-align: center;
    margin-top: 0.25em;
    position: relative;
    
    @include mq("lg") {
        padding-left: 0.25rem;
        top: 2rem;
        margin-top: 0;
        margin-left: -1rem;
}
}
.information__licence{
    margin-top: 1.35rem;
    @include mq("lg") {
        margin-top: 2.125rem;
        // padding-left: 1rem;
    }
}

.common-title.information__title{
    font-family: $eng-fonts;
    font-size: 2rem;
    line-height: 1.25;
    color: $font-bk;
    text-transform: capitalize;
    text-align: center;
    position: relative;
    @include mq("lg") {
        font-size: 2.5rem;
        top: 1.75rem;
        padding-left: 0.25rem;
        margin-left: -0.5rem;
    }
}
.information__frame{
    @include mq("lg") {
        width: 100%;
        display: block;
        max-width: 540px;
    }
}
.information__wrapper{
    display: flex;
    flex-direction: column;
    @include mq("lg") {
        flex-direction: row;
        align-items: center;
        padding: 2rem 0.5rem 0;
        justify-content: flex-start;
    }
}
.information__colorbox{
    display: block;
    margin-top: 1.5rem;
    @include mq("lg") {
        margin-top: 2.35rem;
        width: 50%;
        margin-right: 1rem;
    }
}
.js-color-slide{
    position: relative;
}
.js-color-slide .info-colorbox{
    position: absolute;
    top: 0;
    right: 0;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: $green;
}

.info-color-image{
    display: block;
    width: 100%;
}
.information__content{
    position: relative;
    z-index: 1;
    @include mq("lg") {
        width: 50%;
        margin-left: 1.5rem;
        max-width: 492px;
    }
}
.information__title-sub{
    font-family: $base-font-family;
    font-size: 1.25rem;
    line-height: 1.25;
    color: $font-bk;
    line-height: 1.2;
    font-weight: $bold;
    border-bottom: 1px solid $green;
    padding-bottom: 0.125rem;
    padding: 0 0 0.25rem 0;
    text-shadow: 1px 1px 1px $font-bk;
    @include mq("lg") {
    font-size: 1.5rem;
    text-shadow: none;
    padding: 0 0 0.125rem 0.125rem;
    // -webkit-text-stroke-color: none;
    // -webkit-text-stroke-width: 0;
    }
}
.information__description{
    color: $font-bk;
    font-family: $base-font-family;
    line-height: 1.5;
    text-shadow: 1px 1px 1px $green;
    margin: 0;
    font-size: 1rem;
    padding: 0.5rem 0;
    @include mq("lg") {
    font-size: 1rem;
    letter-spacing: 0.01em;
    padding: 0;
    font-weight: $regular;
    margin: 0.5rem 0;
    text-shadow: none;
    padding: 0 0.25rem;
}
@include mq("xl") {
    min-width: 492px;
    }
}
.information__viewmore.common__btn-wrap{
    @include mq("lg") {
        width: 12.725rem;
        // transform: translateX(-0.5rem);
}
}
.information__btn.common__btn{
    margin-top: 2rem;
    padding: 0.875rem 2.25rem;
    @include mq("lg") {
        margin-top: 0;
    }
}
