@use "../global/" as *;

/* Loading背景画面設定　*/
#splash {
/*fixedで全面に固定*/
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
  background: $white;
  display: flex;
  justify-content: center;
  align-items: center;
}
#splash.is-hidden,
.c-loading.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
/* Loading画像中央配置　*/
#splash_logo {
  opacity: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: fadeUp 1s ease forwards;
}

/* Loading アイコンの大きさ設定　*/
#splash_logo img {
    display: block;
    width:260px;
  @include mq("md") {
    width: 100%;
    max-width: 468px;
  }
}
#splash.is-visible img{
  display: none;
  width: 0;
}
/* fadeUpをするアイコンの動き */
.fadeUp{
animation-name: fadeUpAnime;
animation-duration: 1.5s;
animation-fill-mode:forwards;
opacity: 0;
}

@keyframes fadeUpAnime{
  from {
    opacity: 0;
  transform: translateY(70%);
  }

  to {
    opacity: 1;
  transform: translateY(0);
  }
}
